@charset "UTF-8";

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

aside {
    width: 15vw;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 270px; /* 0 width - change this with JavaScript */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1111119c; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 200px; /* Place content 60px from the top */
    margin-bottom: 20vw;
}

.sidenav a {
    padding: 10px 10px 5px 90px;
    text-decoration: none;
    font-size: 22px;
    color: var(--white);
    display: block;
    font-family: "Nanum Myeongjo";
}

.sidenav a:hover {
    color: var(--white-yellow);
}
