@charset "UTF-8";

@media screen {

    html,
    body {
        background: var(--snowwhite);
        padding: 0;
        margin: 0;
        height: 100%;
        overflow: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-size: cover;
    }
}

.main-content {
    margin-left: 15px;
}

.booking {
    height: 100%;
    margin-left: 200px;
    transition: all 0.5s ease-out;
    font-family: "Nanum Myeongjo";
}

/* Sidenavigation */
.sidenav {
    width: 180px;
    background: url("../img/background.jpg") scroll no-repeat left bottom;
    opacity: 0.9;
}

.sidenav a {
    padding-left: 40px;
}

.openbtn {
    margin-top: 20px;
    left: 10px;
    position: fixed;
    background-color: #0000;
    border: none;
    outline: none;
    height: 20px;
    width: 30px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.openbtn img {
    width: 30px;
    height: auto;
}

.openbtn:focus {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0);
}

.log-out {
    margin-top: 40px;
}

.navbar-box {
    width: 301px;
    height: 232px;
    position: absolute;
    left: 107px;
    top: 620px;
}

.order-box {
    top: 10px;
}

.order {
    width: 261px;
    height: 232px;
    position: absolute;
    left: -10px;
    top: -25px;
    font-family: sans-serif;
    text-align: left;
    font-size: 28px;
    letter-spacing: 0;
}

.order a {
    text-decoration: none;
    color: var(--snowwhite);
}

.circle {
    border-radius: 500px;
    background-color: var(--snowwhite);
    width: 14px;
    height: 15px;
    position: absolute;
    left: 0;
    top: 10px;
}

.ellipse {
    box-sizing: border-box;
    position: relative;
    width: 170px;
    height: 0;
    left: -78px;
    top: 70px;
    border: 3px solid var(--snowwhite);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(90deg);
}

.logout {
    position: absolute;
    width: 96px;
    height: 32px;
    left: 135px;
    top: 903px;

    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    display: flex;
    align-items: center;

    color: var(--snowwhite);
}

.booking-header {
    position: relative;
}

.booking-header-headline {
    color: var(--black);
    text-align: left;
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.booking-header-timestamp {
    color: rgba(0, 0, 0, 0.8);
    /* position: absolute; */
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}

.booking-form-title {
    margin-top: 40px;
    opacity: 0.8;
    width: 100%;
    text-align: left;
    font-size: 20px;
    letter-spacing: 0;
}

.form-rows {
    margin-top: 20px;
}

/* Calender */
.calendar-container {
    margin: 10px 20px 20px 0;
    padding-bottom: 3px;
    width: 235px;
    border: 1px solid var(--grey);
    border-radius: 10px;
    overflow: hidden;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--truewhite);
    padding: 10px;
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
    padding: 0 5px;
}

.calendar-day {
    width: auto;
    padding: 5px;
    text-align: center;
    font-size: 15px;
}

.calendar-day:hover {
    background-color: var(--white);
    cursor: pointer;
    border-radius: 10px;
}

.calendar-day.selected {
    /* background-color: var(--transblack); */
    background-color: var(--blue);
    color: var(--snowwhite);
    border-radius: 10px;
}

.calendar-prev-month,
.calendar-next-month {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.today {
    border: 1px solid var(--black);
    border-radius: 10px;
}

.past-date {
    color: var(--lightgrey);
}

/* Time */

.time-slots {
    width: 80px;
}

.time-selector {
    padding: 10px 0 15px 5px;
}

.time-slots input {
    appearance: none;

    border-radius: 50%;
    width: 16px;
    height: 16px;

    border: 2px solid var(--lightgrey);
    transition: 0.2s all linear;
    margin-right: 5px;

    position: relative;
    top: 4px;
}

.time-slots input:checked {
    border: 3px solid var(--blue);
}

.time-slots input:disabled {
    border: 3px solid var(--lightgrey);
    opacity: 0.5;
}

.service-selector {
    margin-left: 10%;
}

.service-selector input {
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid var(--lightgrey);
    transition: 0.2s all linear;
    margin-right: 5px;
    position: relative;
    top: 4px;
}

.service-selector input:checked {
    border: 3px solid var(--blue);
}


/* Form */
.input-lines {
    display: flex;
    flex-direction: column;
}

.input-lines input {
    width: 330px;
}

.Tallinn {
    padding-top: 9px;
    padding-right: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
}

@media screen and (max-width: 383px) {
    .input-lines input {
        width: 300px;
    }
}


.line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.field {
    margin: 5px 0;
    height: 30px;
}

.address-group {
    width: 100px;
    padding-right: 15px;
}

.address-group input {
    width: 90px;
}

.house {
    width: 45px;
}

.house input {
    width: 40px;
}

.index {
    width: 65px;
}

.index input {
    width: 60px;
}

.street {
    width: 195px;
}

.street input {
    width: 190px;
}

input {
    background-color: var(--snowwhite);
    border-radius: 7px;
    border: 1px solid var(--blue);
}

/* Date and time picker */
.time {
    align-items: flex-start;
}

/* Items selector */
.order-details {
    min-width: 297px;
}

.form-line {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-line input[type="text"],
.form-line select {
    margin-right: 10px;
}

.form-line .remove-line {
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 16px;
    line-height: 1;
    cursor: pointer;
}

.form-line .remove-line:hover {
    background-color: #d32f2f;
}

#add-line {
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 16px;
    line-height: 1;
    cursor: pointer;

}

.add-elem {
    justify-content: flex-end;
}

#add-line:hover {
    background-color: #388e3c;
}

.total-price {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.comment {
    min-height: 50px;
    width: 100%;
}

.comment::placeholder {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}

.item {
    background-color: var(--snowwhite);
    border-radius: 7px;
    border: 1px solid var(--blue);
    padding: 5px 20px;
    margin-right: 10px;
}

.form-line select {
    background-color: var(--snowwhite);
    border-radius: 7px;
    border: 1px solid var(--blue);
    width: 173px;
    padding: 6px 20px;
}

.remove-btn,
.add-btn {
    border-radius: 20px;
}

/* Book button */
.book-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 103%;
    height: 60px;
    border-radius: 10px;
    border: 1px solid var(--lightblue);
    background-color: var(--lightblue);
    opacity: 0.8;
    color: var(--snowwhite);
    font-size: 20px;
    font-weight: 600;
    font-family: "Nanum Myeongjo";
}
.book-btn:hover {
    background-color: var(--blue);
    cursor: pointer;
}

.settings-save-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid var(--lightblue);
    background-color: var(--snowwhite);
    opacity: 0.8;
    color: var(--black);
    font-size: 16px;
    font-weight: 200;
    font-family: "Nanum Myeongjo";
    width: 140px;
    position: relative;
    left: 59%;
}

/* Checkbox for saving data */
.save-data-checkbox {
    margin-top: 10px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

input {
    padding-left: 5px;
    padding-right: 5px;
}

.order-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: flex-start;
}

.save-settings-checkbox {
    width: 300px;
    margin-top: 10px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.save-settings-checkbox input {
    width: 15px;
}

/* Mobile versions */
@media screen and (max-width: 420px) {
    .booking {
        margin-left: 10px;
    }

    .main-content {
        margin-top: 60px;
    }

    .settings-save-btn {
        left: 55%;
    }
}