@charset "UTF-8";

footer {
    background-color: var(--black);

    /* White line fixing */
    /* background-color: red; */

    min-height: 180px;
    margin: 0;
    position: relative;
    left: 0;
    bottom: 0;
    min-width: 964px;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
    padding-bottom: 10px;


}

.footer-container {
    display: flex;
}

.logo-footer {
    width: auto;
    height: 100px;
    padding-top: 0.5vw;
    padding-left: 10px;
}

.logo-caption {
    text-align: left;
    padding-left: 40px;
    font-style: italic;
    font-size: 15px;
    color: var(--white-yellow);
    padding-top: 30px;
}

.menu-footer ul {
    list-style: none;
}

.menu-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    text-align: center;
}

.menu-footer-item {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;

    color: #fff;
    text-decoration: none;
    font-family: "Nanum Myeongjo";
    font-size: 20px;
    list-style-type: none;
}

.menu-footer-item a {
    text-decoration: none;
    color: var(--white);
}

.menu-footer-subitem {
    text-align: left;
    padding-bottom: 5px;

    text-decoration: none;
    font-family: "Nanum Myeongjo";
    font-size: 18px;
    list-style-type: none;
}

.menu-footer-subitem a {
    text-decoration: none;
    color: var(--white);
}

/* Bigger bottom padding for smaller columns */
.exception-subitem {
    padding-bottom: 29px;
}

/* makes logo in footer be in right */
.logo-caption-footer {
    margin-left: 0;
    padding-left: 0;
}
.footer-last-column {
    margin-right: 10px;
}
/* adaptation for smaller widths */
@media screen and (max-width: 963px) {
    footer {
        min-width: 0;
        min-height: 170px;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 933px) {
    .footer-container {
        align-content: flex-end;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .menu-footer {
        align-items: flex-start;
    }
    .menu-footer ul {
        padding-left: 10px;
    }

    .logo-footer {
        height: 80px;
    }

    .logo-caption {
        padding: 20px 5px 10px 40px;
    }
}

@media screen and (max-width: 797px) {
    footer {
        min-width: 0;
        min-height: 180px;
        padding-bottom: 0;
    }
    .logo-caption-footer {
        margin: 0;
        margin-top: 25px;
    }
}
@media screen and (max-width: 769px) {
    footer {
        min-height: 200px;
    }
    .logo-caption-footer {
        margin-top: 30px;
    }
}
@media screen and (max-width: 759px) {
    footer {
        min-height: 190px;
    }
    .logo-footer {
        height: 60px;
    }
    .logo-caption-footer {
        margin-top: 10px;
    }
    .menu-footer ul {
        margin-top: 0;
    }
    .menu-footer-item {
        padding-top: 0;
    }
}

/* Mobile versions footer when desktop*/
.footer-mobile {
    display: none;
}
/* Mobile versions footer when mobile*/
@media screen and (max-width: 614px) {
    .footer-regular {
        display: none;
    }
    .footer-mobile {
        display: flex;
        min-height: 300px;
    }
    .footer-row {
        display: flex;
        flex-direction: row;
        width: 300px;
        padding-left: 10px;
    }
    .footer-row ul {
        padding-left : 10px;
        flex-grow: 1;
    }
    .menu-footer-item {
        font-size: 18px;
    }
    .menu-footer-subitem {
        font-size: 16px;
    }
}
@media screen and (max-width: 484px) {
    .footer-mobile {
        min-height: 320px;
    }
    .footer-row {
        width: 350px;
        padding-left: 100px;
    }
    .footer-row ul {
        padding-right: 20px;
    }
    .logo-caption {
        font-size: 10px;
        padding-left: 15px;
        padding-top: 10px;
    }
    .exclude-logo {
        display: none;
    }
    .footer-column {
        flex-grow: 1;
    }
}
@media screen and (max-width: 409px) {
    .footer-row {
        padding-left: 10px;
    }
}
@media screen and (max-width: 380px) {
    .footer-row {
        padding-left: 0;
    }
}