@charset "UTF-8";

header {
    min-height: 90px;
    width: 100%;
    min-width: 964px;
    margin: 0;
    z-index: 1000;
    background-color: var(--black);

    /* white line fixing */
    /* background-color: red; */

    display: flex;
    justify-content: space-between;  
}

.logo {
    width: auto;
    height: 80px;
    margin-left: 1vw;
    padding-top: 5px;
}
.logo-square {
    display: none;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    margin-right: 5px;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
}
.menu-item {
    padding-right: 10px;
    padding-left: 10px;
    color: var(--snowwhite);
    text-decoration: none;
    font-family: "Nanum Myeongjo";
    font-size: 20px;
}

.user-menu {
    display:flex;
    align-items: center;
    padding-left: 1vw;
    padding-right: 2vw;
}

.register-button:hover {
    background-color: var(--black);
    color: var(--white);
}
.register-button {
    display:inline-block;
    background-color: var(--snowwhite);
    color: var(--black);
    margin-left: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: "Nanum Myeongjo";
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 963px) {
    header {
        min-width: 0;
    }
    .logo {
        margin-left: 0;
        height:60px;
        margin-top: 10px;
    }
    .menu {
        justify-content: flex-start;
    }
    .user-menu {
        padding-right: 5px;
    }
}

@media screen and (max-width: 870px) {
    .menu-item {
        padding-left: 0;
    }
    .register-button {
        padding: 8px 10px;
    }
}

@media screen and (max-width: 820px) {
    .user-menu {
        display: flex;
        flex-direction: column;
        align-items: end;
    }
    .user-menu .menu-item {
        padding-bottom: 10px;
        margin-right: 10px;
    }
    .register-button {
        background-color: #0000;
        color: var(--snowwhite);
        padding: 0;
        margin-left: 0;
        margin-right: 10px;
    }
    header {
        min-height: 100px;
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 720px) {
    .user-menu {
        align-items: center;
    }
    .user-menu .menu-item {
        padding-bottom: 8px;
        margin-right: 0;
    }
    .menu {
        flex-direction: column;
    }
    header {
        min-height: 120px;
    }
    .logo-square {
        padding-top: 0;
        margin-top: 0;
        padding-left: 10px;
        display: block;
        height: 120px;
        width:125px;  
    }
    .logo-wide {
        display: none;
    }
}

@media screen and (max-width: 460px) {
    .logo-square {
        height: 90px;
        width:95px;  
    }
    header {
        min-height: 140px;
    }
}
