@charset "UTF-8";

header {
    height: 80px;
    width: 100%;
    min-width: 964px;
    margin: 0;
    z-index: 1000;
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
}

.logo {
    width: auto;
    height: 80px;
    margin-left: 1vw;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    margin-right: 1vw;
    text-align: center;
}
.menu-item {
    padding-left: 5vw;
    color: #fff;
    text-decoration: none;
    font-family: "Nanum Myeongjo";
    font-size: 20px;
}

.user-menu {
    display:flex;
    align-items: center;
    padding-left: 3vw;
    padding-right: 2vw;
}

.register-button:hover {
    background-color: #000;
    color: #f3e2e2;
}
.register-button {
    display:inline-block;
    background-color: #fff;
    color: #000;
    margin-left: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: "Nanum Myeongjo";
    transition: all 0.3s ease-in-out;
}

