@charset "utf-8";


.block {
	/* same - white line problem */
    width: 180px;
	padding-right: 20px;
	padding-left: 20px;
    display: inline-block;
}

@media screen and (max-width: 1200px){
	.block {
		width: 100px;
	}
}

.icon, .left-icon, .right-icon {
	margin: 0px auto;
	color: var(--truewhite);
	text-align: center;
	font-size: 18px;
	max-width: 73px;
	position: relative;
	opacity: 1;
	z-index: 9;
	width:48px;
}
.icon:before, .icon:after, .right-icon:before, .left-icon:after {
	z-index: 0;
	content: "";
	display: block;
	max-width: 600px;
	min-width: 220px;
	height: 1px;
	background: var(--white);
	top: 50%;
	position: absolute;
}
.icon:after, .right-icon:before {
	right: 0;
}

@media screen and (max-width: 735px){
	.icon:before, .icon:after, .right-icon:before, .left-icon:after {
		content: none;
		display: none;
	}
}
@media screen and (max-width: 460px){
	.working-process .row {
		flex-direction: column;
		align-items: center;
	}
	.block {
		width: 200px;
	}
}
.how_it_works h3 {
	font-weight:550;
	font-size:24px;
}

.how_it_works {
	padding-bottom:60px;
}

.blocks-content {
	font-size: 20px;
}

.process-line {
    width:100%;
    text-align: center;
}

@media screen and (max-width: 1273px) {
	/* in case of side-nav opened white line starts here */
}
@media screen and (max-width: 1042px) {
	/* without side-nav starts here */
}