@charset "utf-8";
@media screen {
    html, body { 
        background: url("../img/background.jpg") scroll no-repeat left bottom;
        padding: 0;
        margin: 0;
        height: 100%;
        overflow: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-size: cover;
    }
}


:root {
    --white: #d5d5d5;
    --truewhite: #efefef;
    --snowwhite: #f7f7f7;
    --black: #000000;
    --shadowedblack: #0D0D0D;
    --transblack: #1111119c;
    --grey: #1c1c1c;
    --lightgrey: rgb(128,128,128);
    --blue: #3e5664;
    --lightblue: #15384c;
    --white-yellow: #888;
}

#main {
    display: block;
    padding: 2vw;
    color: var(--white);
    font-family: "Nanum Myeongjo";
}
