@charset "UTF-8";

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

aside {
    width: 15vw;
}

.sidenav {
    height: 100%;
    width: 270px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--transblack);
    overflow-x: hidden;
    padding-top: 200px;
    margin-bottom: 20vw;
    transition: 0.5s;
}

.sidenav a {
    padding: 10px 10px 5px 90px;
    text-decoration: none;
    font-size: 22px;
    color: var(--white);
    display: block;
    font-family: "Nanum Myeongjo";
    transition: 0.3s;
}

.sidenav a:hover {
    color: var(--white-yellow);
}

.sidenav .closebtn {
    display:flex;
    padding-bottom: 15px;
}
