@charset "utf-8";

/* Main text */
.orders {
    margin-top: 20px;
}
.orders h1 {
    font-weight: 200;
    color: var(--shadowedblack);
}

/* Change circle position */
.circle {
    border-radius: 500px;
    background-color: var(--snowwhite);
    width: 14px;
    height: 15px;
    position: absolute;
    left: 0;
    top: 45px;
}
/* Display items in card in a row */
.row {
    display: flex;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: 30px;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}


/* Slider container */
.slider-container {
    max-width: 700px;
    min-height: 200px;
    position: relative;
    margin: 40px auto 10px 0;
    padding: 10px;
    background-color: var(--snowwhite);
    color: var(--black);
    border-radius: 20px;
    border: 2px solid var(--shadowedblack) !important;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}
/* Display price in the right */
.price {
    right: 2%;
    top:49%;
    position: absolute;
}


/* Hide the images by default */
.slider {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    transform:rotate(90deg);
    width: auto;
    margin-top: -22px;
    padding: 16px;
    margin-left: 0px;
    color: var(--black);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


.next {
    border-radius: 3px 0 0 3px;
    top:90%;
}

/* Caption text */
.slider-text {
    color: var(--black);
    font-size: 15px;
    margin: 20px;
    margin-left: 0;
    position: absolute;
    width: inherit;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 9px;
}
.slider-text h2 {
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: left;
    padding-top: 23px;
    padding-bottom: 30px;
}
.slider-text p {
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: left;
    padding-bottom: 20px;
}


.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* Mobiles adaptation */
@media screen and (max-width: 460px) {
    .slider-container {
        min-height: 350px;
    }
    .price {
        left: 2%;
        top: 70%;
    }
    .slider-text {
        position: relative;
    }
    .row {
        flex-direction:inherit;
    }
    .price {
        text-align: center;
        font-weight: bold;
        top:85%;
    }
    .next {
        top:95%;
    }
}

/* Cancel button */
.cancel-btn {
    border: 1px solid;
    font-family: "Nanum Myeongjo";;
    background-color: none;
    background-color: var(--snowwhite); 
    color: var(--shadowedblack);
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-left: 20px;
    border-radius: 10px;
}
@media screen and (max-width: 555px) {
    .price {
        left: 2%;
        top: 70%;
    }
    .slider-text {
        position: relative;
    }
    .row {
        flex-direction:inherit;
    }
    .price {
        text-align: center;
        font-weight: bold;
        top:85%;
    }
    .next {
        top:95%;
    }
}