@charset "utf-8";

.centered * {
	text-align: center;
	font-family: "Nanum Myeongjo";
	color: var(--white);
}

div {
	display: block;
}

.join-header h1{
    font-size: 58px;
	font-style: normal;
	font-weight: 50;
	color: var(--truewhite);
	/* line-height: 69px; */
}
.input-lines {
	position:relative;

}
.username-container{
	margin-bottom: 20px;
	margin-top: 70px;
}
.password-container{
	position: relative;
	width:100%
}
.show-password {
	margin-left: -62px;
	cursor: pointer;
	font-style: normal;
	font-size: 20px;
	background-color: #0d0d0d00;
	opacity: 0.8;
	border: none;
}
.password-visible {
    margin-left: -55px;
}
.username, .password {
	text-align: left;
	padding-left: 15px;
}

.terms{
	font-family: 'NanumMyeongjo';
	font-style: normal;
	/* font-weight: 400; */
	font-size: 18px;
	/* line-height: 23px; */
	color: var(--white);
	opacity: 0.8;
}
.terms p a{
	text-decoration: underline;
	color: inherit;
}
input[type="text"], input[type="password"]{
	min-width: 463px;
	min-height: 49px;
	max-width: 463px;
	max-height: 49px;
	background-color: var(--shadowedblack);
	border: 0.2px solid var(--white);
	color: var(--white);
	font-family: 'NanumMyeongjo';
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	/* line-height: 35px; */
	display: inline-block;
}
input::placeholder{
	font-family: 'NanumMyeongjo';
	font-style: normal;
	/* font-weight: 300; */
	font-size: 20px;
	/* line-height: 35px; */
	color: #FFFFFF;
	opacity: 0.8;
}

#show-password:hover{
	cursor: pointer;
	opacity: 1;
}
#signup, #login{
    min-width: 475px;
	min-height: 49px;
	max-width: 475px;
	max-height: 49px;
	background-color: var(--truewhite);
	border-radius: 12px;
	font-family: 'NanumMyeongjo';
	border-width: 0;
	/* font-style: normal; */
	font-size: 25px;
	/* line-height: 23px; */
	
}
#signup a, #login a{
	text-decoration: none;
	color: var(--black);
}
#signup:hover, #login:hover{
	background-color: var(--white);
	cursor: pointer;
}

#login{
	margin-bottom: 40px;
}

.or {
	margin: 20px auto;
	color: #ffffff;
	text-align: center;
	font-size: 18px;
	max-width: 473px;
	position: relative;

}
.or:before {
	content: "";
	display: block;
	width: 200px;
	height: 1px;
	background: var(--white);
	top: 50%;
	position: absolute;
}
.or:after {
	content: "";
	display: block;
	width: 200px;
	height: 1px;
	background: var(--white);
	right: 0;
	top: 50%;
	position: absolute;
  }
