@charset "utf-8";

@media screen and (max-width: 768px) {
	html, body{
		background-position: top right !important;
	}
	.welcome-header h1{
		font-size: 45px !important;
		margin-top: 40px;
	}
	.username-container{
		margin-top: 20px !important;
	}
    input[type="text"], input[type="password"] {
		width: 300px !important;
		height: 35px !important;
	}
	input::placeholder, .show-password{
		font-size: 18px !important;
	}
	.terms{
		margin-left: 200px !important;
		margin-top: 7px !important;
	}
	.signup, .login{
		width: 300px !important;
		height: 40px !important;
		font-size: 20px !important;
		/* margin-top: 15px !important; */
	}
	.signup{
		margin-top: 10px !important;
	}
	.or{
		width: 300px !important;
		margin: 15px auto !important;
	}
	.or:before, .or:after{
		width: 130px !important;
	}
}
.join-header h1 {
	font-size: 58px;
	font-style: normal;
	font-weight: 50;
	color: var(--truewhite);
}

.terms {
	font-family: 'NanumMyeongjo';
	font-style: normal;
	/* font-weight: 400; */
	font-size: 18px;
	/* line-height: 23px; */
	color: var(--white);
	opacity: 0.8;
}

.terms p a {
	text-decoration: underline;
	color: inherit;
}