@charset "utf-8";

.join-header h1 {
	font-size: 58px;
	font-style: normal;
	font-weight: 50;
	color: var(--truewhite);
}

.terms {
	font-family: 'NanumMyeongjo';
	font-style: normal;
	/* font-weight: 400; */
	font-size: 18px;
	/* line-height: 23px; */
	color: var(--white);
	opacity: 0.8;
}

.terms p a {
	text-decoration: underline;
	color: inherit;
}